html, body {
    margin: 0;
    height: 100%;
    font-family: 'Cutive Mono', monospace, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

header {
    height: fit-content;
    font-size: 25px;
    display: grid;
    grid-template-rows: 100px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.gameboard {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    height: 600px;
    width: 600px;
    border-width: 10px;
}

.xobuttons {
    border-color: black;
    color: brown;
    height: 200px;
    width: 200px;
    font-size: 75px;
}

#bottom {
    grid-row: 3 / span 1;
    justify-self: center;
    align-self: center;
    font-size: 25px;
}

#bottom_grid {
    display: grid;
    width: 600px;
    grid-template-columns: 200px 200px 200px;
}

#winner {
    grid-column: 1 / span 2;
    font-size: 30px;
}

#reset_button {
    grid-column: 3 / span 1;
    text-align: center;
}

